<p id="notice"><%= notice %></p>

<h1>Dashboard</h1>

<table>
    <% (0..4).each do |i| %>
      <tr>
    <% (0..4).each do |j| %>
        <td><%= j %><%= i %></td>
    <% end %>
      </tr>
    <% end %>
  </tbody>
</table>


